<div class="new-artwork-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Create new Artwork</h1>
    <div class="new-artwork-inputs">
      <mat-form-field class="new-artwork-input">
        <input required matInput formControlName="title" type="text" placeholder="Title of the Artworks" />
      </mat-form-field>
      <mat-form-field class="new-artwork-input">
        <input required matInput formControlName="description" type="text" placeholder="Description of the Artworks" />
      </mat-form-field>
    </div>
    <app-file-upload (uploaded)="onFileChange($event)"></app-file-upload>
    <div class="d-flex row">
      <span class="spacer"></span>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.pristine">
        Create
      </button>
    </div>
  </form>
</div>
