.main-container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  @media (max-width: 599px) {
    top: 56px;
    bottom: 56px;
  }
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(63, 81, 181, 1);
  &-menu {
    &-item {
      display: block;
      padding: 1em;
      box-sizing: border-box;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    &-sub{
      &-item {
        display: block;
        padding: 0.5em;
        padding-left: 2em;
        box-sizing: border-box;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      &-active {
        color: rgba(63, 81, 181, 1);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    a, &-logout {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
    &-logout {
      padding: 1em;
    }
    &-active {
      color: rgba(63, 81, 181, 1);
      background-color: rgba(255, 255, 255, 0.3);
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

  }
}
.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &-container {
    width: 100%;
    @extend .main-container;
    padding-top: 0;
    padding-bottom: 0;
  }
  &-adderess {
    display: inline-flex;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: 599px) {
      max-width: 105px;
      padding: 0 15px;
      font-size: 14px;
  }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  &-container {
    width: 100%;
    @extend .main-container;
    padding-top: 0;
    padding-bottom: 0;
  }
}
